/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 14.03.2016, 13:41:33
    Author     : andreev_af
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 20.02.2015, 23:40:38
    Author     : alef
*/

@font-face{
    font-family: 'Cuprum';
    src:    url('../fonts/cuprum-regular.woff');
}
@font-face{
    font-family: 'Noto Serif';
    src:    url('../fonts/notoserif-regular.woff');
}

@font-face{
    font-family: 'PT Sans';
    src:    url('../fonts/pt-sans.woff');
}
@font-face{
    font-family: 'PT Serif';
    src:    url('../fonts/pt_serif-web-regular.woff');
}

@font-face{
    font-family: 'Open Sans';
    src:    url('../fonts/opensans-regular.woff');
}

@font-face{
    font-family: 'Open Sans Light';
    src:    url('../fonts/opensans-light.woff');
}

@font-face{
    font-family: 'Exo2';
    src:    url('../fonts/exo2-regular.woff');
}
@font-face{
    font-family: 'Exo2 Light';
    src:    url('../fonts/exo2-light.woff');
}

@font-face{
    font-family: 'Oswald';
    src:    url('../fonts/Oswald-Regular.woff');
}
@font-face{
    font-family: 'Oswald Italic';
    src:    url('../fonts/Oswald-RegularItalic.woff');
}
@font-face{
    font-family: 'Allegretto';
    src:    url('../fonts/allegretto_script_two.woff');
}